build/
coverage
.coverage
coverage.*
dist/
.mad-ng-*/
*.o
*.a
*.so
*.so.*
*.dylib
src/madng_tpsa/lib/*.so
src/madng_tpsa/lib/*.so.*
src/madng_tpsa/lib/*.dylib
src/madng_tpsa/_version.py
__pycache__/
*.py[cod]
*.sw[op]
*~
.DS_Store
*.egg-info
.idea/*
uv.lock
docs/_build/
docs/generated/
